/* Global styles - DO NOT CHANGE unless and until absolutely necessary*/

@import './colors.scss';
@import './mixins.scss';

body{
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
    margin: 0;
}

.app-header{
    .app-header-text{
        padding-left: 20px; 
    }

		.app-header-menu-link  {
			text-decoration: none;
			color: #131d38;
			font-weight: 400;
			margin: 0 12px;

			&:hover {
				transform: scale(1.05);
			}

			&.selected {
				font-weight: 600;
			}
		}

    .app-header-link{
        color: inherit;
        text-decoration: none;
    }

		.menu-container {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&.margin {
				margin-left: 24px;
			}
		}

		.app-header-container {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
		}
}

#close-button {
	position: absolute !important;
	right: 10px;
}

.app-menu-user{
    background-color: $secondary-color;
    height: 20vh;

    .user-avatar{
        position: absolute;
        left: 10%;
        top: 5%;

        > a{
            @include overrideAnchorStyle();
        }
    }

    .user-greeting-text{
        color: white;
        padding: 10px;
        position: absolute;
        top: 10%;
        left: 5%;
    }

    .login-button{
        position: absolute;
        left: 20px;
        top: 15%;
        color: white;
        font-size: 16px;
        outline: none;
    }
}

.app-menu-items{
    width: 65vw;
    max-width: 400px;
    list-style-type: none;
    padding-left: 25px;

    .app-menu-item {
        height: 35px;
        // @include sideMenuIcon('/assets/images/homeIcon.png');
        > a{
            @include overrideAnchorStyle();
            // padding-left: 40px;
            line-height: 35px;
        }
    }
}


.app-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}